@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 



:root {

    
/* Light Theme */

--VeryLightGray: hsl(0, 0%, 98%);
--VeryLightGrayishBlue: hsl(236, 33%, 92%);
--LightGrayishBlue: hsl(233, 11%, 84%);
--DarkGrayishBlue: hsl(236, 9%, 61%);
--VeryDarkGrayishBlue: hsl(235, 19%, 35%);


/* Dark theme */

    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(142deg, hsl(192, 100%, 67%) 10%, hsl(280, 87%, 65%)) ;

	--Very-DarkBlue: hsl(235, 21%, 11%);
	--Very-DarkDesaturatedBlue: hsl(235, 24%, 19%);
	--Light-GrayishBlue: hsl(234, 39%, 85%);
	--Dark-GrayishBlue: hsl(234, 11%, 52%);
	--Very-DarkGrayishBlue: hsl(233, 14%, 35%);
	--Very-HeavyDarkGrayishBlue: hsl(237, 14%, 26%);

	/* Hover */
	--Light-GrayishBlueHover: hsl(236, 33%, 92%);

	--sans-serif: 'Josefin Sans', sans-serif;
    --font-18: 0.8rem;
	--font-24: 1.2rem;
	--font-32: 2.2rem;
	--font-80: 5rem;
  
	--spacing-4: 15px 20px;
	--spacing-8: 0.5rem;
	--spacing-16: 1rem;
  
	--shadow-1: hsl(0, 0%, 0%, 0.1);
  
	--radius-base: 4px;
  }
  
  html,
  body {
	height: 100%;
  }
  
  body {
  
	font-family: var(--sans-serif);
	font-weight: 400;
	background-color: var(--Very-DarkBlue);
	color: var(--Light-GrayishBlue);
	background-image: url("/asset/bg-desktop-dark.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-color 1s
  }

  .todo-item{
	transition: background-color 1s
  }
  .todos { transition: background-color 1s}

  form {
      transition: background-color 1s;
	}

  button {
	background: none;
	border: 0;
	cursor: pointer;
  }
  
  .hidden {
	visibility: hidden;
  }
  
  :focus,
  .toggle:focus + label,
  .toggle-all:focus + label {
	padding: 2px 3px;
	box-shadow: 0 0 2px 2px var(--Light-GrayishBlue);
	outline: 0;
  }

  label,
  input,
  button {
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
  }

button:hover{
	color: var(--Bright-Blue);
}


@media screen and (max-width: 700px) {
    .remove{
    visibility: visible !important ;
	opacity: 1 !important;
}
main{
	padding: 10px 20px;
}

body{
	background-image: url("/asset/bg-mobile-dark.jpg");
}

}
/*  

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
} 

 */


